<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    {% block body_block %}
    <center>
      {% if request.user.is_authenticated %}
      <p>Hey, {{ request.user.username }}</p>
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">Sign up</a>
      {% endif %}
    </center>
    {% endblock body_block %}
  </body>
</html>
